<toolbox monitor="true">
    <section id="interactivetools" name="Interactive Tools">
        {% for it_name in interactive_tools %}
        <tool file="interactive/interactivetool_{{ it_name }}.xml" />
        {% endfor %}
    </section>
</toolbox>

<!--
<toolbox monitor="true">
    <section id="interactivetools" name="Interactive Tools">
                <tool file="interactive/interactivetool_bam_iobio.xml" />
                <tool file="interactive/interactivetool_jupyter_notebook.xml" />
                <tool file="interactive/interactivetool_rstudio.xml" />
                <tool file="interactive/interactivetool_vcf_iobio.xml" />
    </section>
</toolbox>
-->